:root{
    --background-color: #ffffff;
    --button-bg: #F3F4F6;
}
body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0;
}

.login-container{
    position: relative;
    /* text-align: center; */
    width: 450px;
    height: 600px;;
    background-color: var(--background-color);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.login-container img{
    width: 130px;
    padding-top: 30px;
}
.login-container h1{
    margin: auto;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: oklch(0.21 0.034 264.665);
}
.login-container h2{
    padding-top: 10px;
    padding-bottom: 30px;
    margin: auto;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: oklch(0.446 0.03 256.802);
}
.login-header{
    text-align: center;
    /* margin-top: 20px; */
}
.toggle-login{
    display: flex; 
    align-items: center; 
    background-color: var(--button-bg);
    width: 400px;
    height: 38px;
    border-radius: 10px;
    margin: 20px auto;

}
.login.active {
    background-color: white;
    border: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin-left: 5px;
}
.login{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(30, 41, 59);
    border: none;
    margin-left: 60px;
    /* margin-left: 10px; */
}
.signup{
   margin-left: 60px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(30, 41, 59);
    border: none;
}
.signup.active{
    background-color: white;
    border: none;
    padding-left: 80px;
    /* padding-right: 80px; */
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin-right: 5px;
}
.readonly{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: oklch(0.373 0.034 259.733);
    display: block; 
    position: relative;
    top: 10px;
    margin-left: 27px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 395px; 
    padding: 12px 15px; 
    margin-bottom: 10px;
    border: 1px solid #E5E7EB; 
    border-radius: 8px;
    box-sizing: border-box; 
    font-size: 16px;
    color: #374151;
    margin-left: 27px;
}

.login-container input[type="text"]::placeholder{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #99A1AF;
    padding-left: 20px;
}
#icon1{
    font-size: 20px;
    color: #99A1AF;
    position: absolute;
    top: 370px; 
    right: 390px;
}
#icon2{
    font-size: 20px;
    color: #99A1AF;
    position: absolute;
    top: 458px; 
    right: 390px;
}
.login-container input[type="password"]::placeholder{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 34px;
    font-weight: 400;
    line-height: 20px;
    color: #99A1AF;
    padding-left: 20px;
}
p{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-top: 60px;
}