<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/components/side-bar/sidebar.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Collapsible Sidebar</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/components/side-bar/dashboard.png" alt="Logo">
            <h2>TaskMaster</h2>
             <img src="/components/side-bar/arrow-point-to-right.png" 
         alt="Collapse Arrow" 
         class="collapse-arrow" 
         id="collapseArrow">
        </div>

        <div class="divider1"></div>

        <div class="profile">Profile</div>

        <div class="logout">
            <a href="#"><span class="material-symbols-outlined">logout</span> Logout</a>
        </div>
    </div>

    <script src="/components/side-bar/sidebar.js"></script>
</body>
</html>
