* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E7EB;
    position: fixed;
    transition: width 0.3s ease;
     justify-content: flex-start; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative; 
}

.logo img {
    width: 70px;
    height: auto;
}

.logo h2 {
    font-size: 18px;
    color: #000;
}

.divider1 {
    border-top: 0.5px solid #E6E7EB;
}

.collapse-arrow {
    width: 12px;       
    height: 12px;       
    max-width: 12px;    
    max-height: 12px;  
    object-fit: contain; 
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.sidebar.collapsed .collapse-arrow {
    transform: rotate(180deg);
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar.collapsed .logo h2,
.sidebar.collapsed .nav-links li a span:nth-child(2),
.sidebar.collapsed .profile,
.sidebar.collapsed .logout a span:nth-child(2) {
    display: none;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.sidebar li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #000;
    gap: 10px;
}

.logout {
    margin-top: auto;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
}

.avatar {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color:#4941F5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.profile-info .name {
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
}

.profile-info .gmail {
    font-size: 12px;
    color: #666;
}
.menu {
    list-style: none;
    margin-left: 15px;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 10px;
    margin-bottom: 6px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.2s ease, color 0.2s ease;
}

.menu li span {
    font-size: 18px;
    color: #444;
}

.menu li:hover {
    background: #f3f4ff;
    color: #4b5bfd;
}

.menu li:hover span {
    color: #4b5bfd;
}

.menu li.active {
    background: #eef0ff;
    color: #4b5bfd;
}

.menu li.active span {
    color: #4b5bfd;
}

