<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/components/side-bar/sidebar.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Collapsible Sidebar</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/components/side-bar/dashboard.png" alt="Logo">
            <h2>TaskMaster</h2>
             <img src="/components/side-bar/arrow-point-to-right.png" 
         alt="Collapse Arrow" 
         class="collapse-arrow" 
         id="collapseArrow">
        </div>

        <div class="divider1"></div>

        <div class="profile">
            <div class="avatar" id="profileAvatar"></div>

            <div class="profile-info">
                <div class="name">Winifred Rex</div>
                <div class="gmail">rexwinifred@gmail.com</div>
            </div>
        </div>


        <div class="divider1"></div>

        <ul class="menu">
            <li>
                <span class="material-symbols-outlined">grid_view</span>
                Dashboard
            </li>

            <li>
                <span class="material-symbols-outlined">check_box</span>
                Tasks
            </li>

            <li>
                <span class="material-symbols-outlined">groups</span>
                Community
            </li>

            <li>
                <span class="material-symbols-outlined">attach_money</span>
                Expenses
            </li>

            <li>
                <span class="material-symbols-outlined">description</span>
                Notes
            </li>

            <li>
                <span class="material-symbols-outlined">settings</span>
                Settings
            </li>
        </ul>


        <div class="logout">
            <a href="#"><span class="material-symbols-outlined">logout</span> Logout</a>
        </div>
    </div>

    <script src="/components/side-bar/sidebar.js"></script>
</body>
</html>
