<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="background.css">
    <title>Document</title>
</head>
<body>

    <div class="background-container">
        <img src="firstcircle-removebg-preview.png" class="firstcircle" >
        <div class="circle1"> </div>
        <div class="circle2"> </div>
        <div class="circle3"> </div>
    </div>
  

</body>
</html>



